		.block{
			height: 100vh;
			margin: 0px 10%;
			display: flex;
			justify-content: center;
			position: relative;
		}
		nav{
			position: absolute;
			top: 0px;
			height: 200px;
			background: #8B008B;
			width: 100%;
		}

		message-form{
			position: absolute;
			bottom: 0;
			width: 100%;
		}
