.App {
	text-align: center;
}

:host {
	display: inline-block;
	border: 1px solid rgba(25, 25, 25, 0.32);
}


#root {
	display: flex;
}



img{
	padding: 4px 4px 4px 4px;
	background: white;
	height: 40px;
	width: 40px;
	border: none;
}



#hNav{

	flex-basis: 80px;
	background: green;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: calc(10px + 2vmin);

}

input {
	border: 0;
	outline: none;
	width: 100%;
	font-size: 40px;
}


a {
	color: #C691D4;
}

#tmessage {
	background: #C691D4;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	align-self: flex-start;
	font-size: 20px;
	align-self: flex-end;
}

#friend_message {
	background: #EDDEF2; 
	padding: 15px; 
	margin-top: 15px; 
	margin-bottom: 15px; 
	align-self: flex-start; 
	font-size: 20px

}


#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#navbar {
    flex-basis: 70px;
    position: relative;
    background: #ffa084;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#sidebar {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#main {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

#main div {
    flex-basis: 100%;
}

#mainbody {
    display: flex;
    flex-basis: 100%;
}

#messages-list {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-basis: 100%;
}

#new-message {
    flex-basis: 70px;
    display: flex;
}

#new-message input{
    flex-basis: 100%;
    margin: 10px;
    font-size: 20px;
}



#messages-list ul {
    padding: 10px;
    margin:  0px;
}

#messages-list p {
    background: #ffe1e1;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
    max-width: 70%;
    display: flex;
    flex-direction: column;
}


#container {
    font-size: 20px;
}




