body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#aut {

	font-size: 40px;
}

#indPage {
	color: #8e24aa;
	display: flex;
	flex-direction: column;
}

#linkChat {

	font-size: 40px;
}

#Chats {
	color: #8e24aa;
	display: flex;
	flex-direction: column;
	font-size: 40px;

}

.emoji {
  background: no-repeat;
  height: 64px;
  width: 64px;
  display: inline-block;
}


.smile-face {
    background-image: url('./static/slightly-smiling-face.png?sprite');
}
.sad-face {
    background-image: url('./static/slightly-frowning-face.png?sprite');
}
.surprised-face {
    background-image: url('./static/hushed-face.png?sprite');
}
.happy-face {
    background-image: url('./static/beaming-face-with-smiling-eyes.png?sprite');
}
